<template>
    <div>
        <el-button text @click="dialogVisible = true">
            Click to open Dialog
        </el-button>

        <el-dialog v-model="dialogVisible" title="Tips" width="30%" draggable>
            <div>
                <form action="create" method="Post">
                    <div class="form-group">
                        <label for="nom" class="col-form-label">Nom:</label>
                        <input
                            type="text"
                            class="form-control"
                            autocomplete="off"
                            id="nom"
                            name="first_name"
                            required
                        />
                    </div>

                    <div class="form-group">
                        <label for="prenom" class="col-form-label"
                            >Prénom:</label
                        >

                        <input
                            type="text"
                            class="form-control"
                            autocomplete="off"
                            id="prenom"
                            name="last_name"
                            required
                        />
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-form-label"
                            >Description:</label
                        >
                        <textarea
                            class="form-control"
                            id="description"
                            name="description"
                        ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image" class="col-form-label">Image:</label
                        ><input
                            class="form-control"
                            type="file"
                            id="formFile"
                            name="img"
                        />
                    </div>

                    <div class="actionModel mt-3">
                        <div class="messageError">
                            <div v-if="error" class="error">
                                <ul
                                    v-if="Array.isArray(error)"
                                    style="list-style-type: none"
                                >
                                    <li
                                        v-for="(e, index) in error"
                                        :key="index"
                                    >
                                        {{ e }}
                                    </li>
                                </ul>
                                <div v-else>{{ error }}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="dialogVisible = false">Cancel</el-button>
                    <el-button type="primary" @click="dialogVisible = false">
                        Confirm
                    </el-button>
                </span>
            </template>
        </el-dialog>
        <el-button type="primary">Primary</el-button>
        <!-- Button trigger modal -->
        <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModalCenter"
        >
            <!-- <font-awesome-icon icon="plus" /> -->
            Ajouter un star
        </button>

        <!-- ADD STAR MODAL -->
        <!-- <div
            class="modal fade"
            id="exampleModalCenter"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            Modal title
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="handleSubmitStar">
                            <div class="form-group">
                                <label for="nom" class="col-form-label"
                                    >Nom:</label
                                >
                                <input
                                    type="text"
                                    class="form-control"
                                    autocomplete="off"
                                    id="nom"
                                    v-model="starToAdd.nom"
                                    required
                                />
                            </div>

                            <div class="form-group">
                                <label for="prenom" class="col-form-label"
                                    >Prénom:</label
                                >

                                <input
                                    type="text"
                                    class="form-control"
                                    autocomplete="off"
                                    id="prenom"
                                    v-model="starToAdd.prenom"
                                    required
                                />
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-form-label"
                                    >Description:</label
                                >
                                <textarea
                                    class="form-control"
                                    id="description"
                                    v-model="starToAdd.description"
                                ></textarea>
                            </div>
                            <div class="form-group">
                                <label for="image" class="col-form-label"
                                    >Image:</label
                                ><input
                                    class="form-control"
                                    type="file"
                                    id="formFile"
                                />
                                 v-model="starToAdd.image"
                            </div>

                            <div class="actionModel mt-3">
                                <div class="messageError">
                                    <div v-if="error" class="error">
                                        <ul
                                            v-if="Array.isArray(error)"
                                            style="list-style-type: none"
                                        >
                                            <li
                                                v-for="(e, index) in error"
                                                :key="index"
                                            >
                                                {{ e }}
                                            </li>
                                        </ul>
                                        <div v-else>{{ error }}</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                        >
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- END STAR MODAL -->
        <el-table :data="stars" style="width: 100%">
            <el-table-column prop="first_name" label="Prénom" width="180" />
            <el-table-column prop="last_name" label="Nom" width="180" />
            <el-table-column prop="description" label="Description" />
        </el-table>
    </div>
</template>

<script>
export default {
    props: {
        stars: { type: Array },
    },
    data() {
        return {
            starToAdd: {
                nom: null,
                prenom: null,
                image: null,
                description: null,
            },
            dialogVisible: false,
            error: null,
            starToUpdate: null,
            dataTable: [],
        };
    },
    methods: {
        handleSubmitStar() {
            let formData = new formData();
            formData.append("nom", this.starToAdd.nom);
            formData.append("prenom", this.starToAdd.prenom);
            formData.append("image", this.starToAdd.image);
            formData.append("description", this.starToAdd.description);
        },
        handleDeleteStart() {},
        handleUpdateStart(item) {
            this.starToUpdate = item;
        },
    },
};
</script>

<style></style>
